@import 'fonts';
@import 'colors';
@import 'components/dividing-line';
@import 'components/content-wrapper';

// ===========================================
// Variables
// ===========================================
$primary-content-background: #fff;
$alternate-background-color: #000;

%psudo {
	content: "";
	position: absolute;
}

body {
	background: $white;
	margin: 0;
	padding: 0;
	font-family: $secondary-font;
	font-size: 16px;
	text-rendering: optimizeLegibility;
	font-kerning: normal;
	min-height: 100vh;
}

h1, h2, h3, h4, h5, h6, .h {
	font-weight: normal;
	font-family: $primary-font;
	margin: 10px 0;
	line-height: 1;
}

ul, ol {
	margin: 0;
	padding: 0;
}

img {
	max-width: 100%;

	&.content-image {
		padding: 15px 0;
		width: 100%;
	}
}

section,
figure {
	z-index: 1;
}

figure {
	margin: 0;
}

.center {
	max-width: 960px;
	margin: 0 auto;
	padding: 0 0 0 49.5%;
}

.section {
	min-height: 100vh;
	height: 100%;
	position: relative;

	&--last {
		background: black;
		color: white;
		position: relative;

		h1, {
			cursor: pointer;
			position: absolute;
			width: 100%;
			max-width: 50%;
			top: 50%;
			left: 50%;
			transform: translate(-50%,-50%);
			font-weight: normal;
			font-size: 48px;
			text-align: center;
			color: transparentize(white,.9);
			transition: 5s;
			padding: 15%;

			&:hover {
				color: white;
			}
		}
	}
}

.p {
	cursor: pointer;
	max-width: 640px;
	font-size: 24px;
	line-height: 1.46;
	margin-left: 60px;
	padding-top: 40px;
	padding-bottom: 40px;
	opacity: .04;
	transition: 3s;

	&:hover {
		opacity: 1;
	}

	&--sm {
		font-size: 16px;
		margin-left: 0;
		max-width: 45%;
		text-align: justify;
	}

	&--caption {
		font-size: 30px;
		text-transform: uppercase;
		letter-spacing: 3px;
		padding: 15px;
	}
}

.h {
	cursor: pointer;
	max-width: 80%;
	font-size: 65px;
	padding-top: 40px;
	padding-bottom: 40px;
	position: relative;

	opacity: .04;
	transition: 3s;

	&:hover {
		opacity: 1;
	}

	&--overline {
		font-size: 60px;
	}
}

.auth-name {
	text-decoration: none;
	color: $black;
	position: absolute;
	left: 60px;
	bottom: 60px;

	&:before {
		@extend %psudo;
		width: 60px;
		height: 1px;
		background: $black;
		top: 50%;
		right: 100%;
	}
}

.static {
	position: fixed;
	height: 100%;
    width: 100%;
    z-index: -1;
    top: 0;
}

.quote-img {
	width: 48.5%;
	position: relative;			
	left: 0px;
	top: 0px;
}

// lists
.list {
	position: relative;
	overflow: hidden;
	list-style: none;
}

.list__item {
	// background: $primary-content-background;
	margin: 0 5%;
	padding: 2%;
	font-size: 30px;
	line-height: 1.3;

	p {
		cursor: pointer;
		color: $black;
		margin: 0;
		padding: 10vh 0;
		max-width: 45%;

		opacity: .04;
		transition: 3s;

		&:hover {
			opacity: 1;
		}
	}
}

.hw, .fw {
	width: 100%;
}

.hw {
	max-width: 50%;
	float: right;
}

.fw {
	max-width: 100%;
}

.fixed {
	position: fixed;
	top: 0;
}
